/* Start keyframes for Animation */
@keyframes moveSquare{
   
    0%{
        transform: translateX(0);
        border-radius: 1px;
    }

    20%{
        transform: translateX(500px);
        border-radius: 50%;
        background-color: blue;
    }

    40%{
        transform: translate(500px,500px);
        background-color: green;
        border-radius: 1px;
    }

    60%{
        transform: translate(0,500px)
        rotate3d(8 ,8 , 8 ,3turn);
        border-radius: 1px;
    }

    80%{
        transform: translate(-5px,500px);
        border-radius: 50%;
    }

    

    
}
/* end keyframes for Animation */


/* Start animation attributes  */

/* parent div start */
.parent{
    background-color: rgb(2, 2, 49);
    width: 600px;
    height: 600px;
    margin: 0 auto;
}
/* parent div end  */


/* child div start */
#Square{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 3s; 
}

#Square:hover{
    animation-name: moveSquare;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: rgb(0, 0, 255);
} 
/* child div end */

/* Start animation attributes  */

