/* Start keyframes for Animation */
@keyframes moveSquare{
   
    0%{
        transform: translateX(0);
        border-radius: 1px;
    }

    20%{
        transform: translateX(500px);
        border-radius: 50%;
        background-color: rgb(42, 4, 255);
    }

    40%{
        transform: translate(500px,500px);
        background-color: rgb(50, 189, 0);
        border-radius: 1px;
    }

    60%{
        transform: translate(0,500px)
        rotate3d(8 ,8 , 8 ,3turn);
        border-radius: 1px;
    }

    80%{
        transform: translate(-5px,500px);
        border-radius: 50%;
    }

    

    
}
/* end keyframes for Animation */


/* Start animation attributes  */


/* body property start */
body{
    background: linear-gradient(to right, black,purple,gray);
    background-size: 400% 400%;
    animation: changebackground 4s linear infinite;
}

@keyframes changebackground{

0%{
    background-position: 0% 50%;
}

50%{
    background-position: 100% 50%;
}

100%{
    background-position: 0% 50%;
}
/* body property start */

}
/* parent div start */
.parent{
    border: 1px solid rgb(0, 0, 0);
    width: 600px;
    height: 600px;
    margin: 150px auto;
}
/* parent div end  */


/* child div start */
#Square{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    transition: 3s; 
}

#Square:hover{
    animation-name: moveSquare;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: rgb(13, 0, 255);
} 
/* child div end */

/* Start animation attributes  */

